{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="./static/css/soft-ui.css" rel="stylesheet" />
{% endblock css %}
{% block content %}
    <div class="container-fluid py-4">

      <div class="row">
        {% for ar in lista_qualidade_ar %}
          <div class="col-xl-3 col-sm-6 mb-xl-2 mb-4">
          <div class="card clickable" onclick="clickEventCard('{{ ar.nome }}')">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8 ">
                  <div>

                    <div class="typo-line">
                        <h3>{{ ar.nome }}</h3>
                    </div>

                    <h6 class="">
                      {% if ar.qualidade == 'N1 - BOA' %}
                          <span class="text-success">Qualidade do ar: {{ar.qualidade}}</span>
                      {% else %}
                          <span class="text-warning">Qualidade do ar: {{ar.qualidade}}</span>
                      {% endif %}
                    </h6>
                    <h6>
                      <span class="typo-line">Data: {{ar.data}}</span>
                    </h6>
                  <div class="checkbox">
                    <input id="check_detalhes_{{ ar.nome }}" type="checkbox">
                    <label for="check_detalhes_{{ ar.nome }}">Visualizar detalhes</label>
                  </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-8" id="grafico_detalhes">
            <div class="card">
                <div class="header">
                    <h4 class="title">Histórico poluentes</h4>
                </div>
                <div class="content">
                    <canvas id="chart-bars" class="chart-canvas"></canvas>
                    <div class="footer">
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated X minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% include 'dash_script_detalhes.html' %}
{% endblock scripts %}