{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="row flex-column flex-sm-row">
        <div class="col-2">

        </div>
        <div class="col-8" id='map'>
        </div>
        <div class="col-2">

        </div>
      </div>
    </div>
{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

{#<script src="{% static 'js/grande-sp-pop2.js' %}"></script>#}
{#<script src="{% static 'js/grande-sp-pop.json' %}"></script>#}

<script type="text/javascript">
    var statesDataString = '{{grande_sp_indices}}'.replace(/&quot;/g, '"');
    var statesData = JSON.parse(statesDataString);

	const map = L.map('map').setView([-23.6226, -46.5489], 9);
    var marker = L.marker([-23.5604171, -46.6133841]).addTo(map);
    marker.bindPopup('PRQ D PEDRO II, s/n - Sé')

    var marker2 = L.marker([-23.642683,-46.4923609]).addTo(map);
        marker2.bindPopup('R. Managua - Parque Capuava')

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	// control that shows state info on hover
	const info = L.control();

	info.onAdd = function (map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};

	info.update = function (props) {
		const contents = props ?
            `<b>${props.name}</b>
             <br />${props.Municipio}
             <br />Índice poluentes: ${props.Indice}`: 'selecione  município';
		this._div.innerHTML = `<h4>Qualidade do Ar</h4>${contents}`;
	};

	info.addTo(map);


	// get color depending on population density value
	function getColor(d) {
		return d > 200  ? '#990066' :
			d > 120  ? '#ff0f03' :
			d > 80   ? '#FFA22E' :
			d > 40   ? '#ffff00' :
			d > 0   ? '#00cc00' : '#FF4600';
	}

	function style(feature) {
		return {
			weight: 2,
			opacity: 1,
			color: 'white',
			dashArray: '3',
			fillOpacity: 0.7,
			fillColor: getColor(feature.properties.Indice)
		};
	}

	function highlightFeature(e) {
		const layer = e.target;

		layer.setStyle({
			weight: 5,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		layer.bringToFront();

		info.update(layer.feature.properties);
	}

	/* global statesData */
	const geojson = L.geoJson(statesData, {
		style,
		onEachFeature
	}).addTo(map);

	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		info.update();
	}

	function zoomToFeature(e) {
		map.fitBounds(e.target.getBounds());
	}

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: zoomToFeature
		});
	}

	map.attributionControl.addAttribution('poluicao data &copy; <a href="https://cetesb.sp.gov.br/ar/poluentes/">Cetesb poluentes</a>');


	const legend = L.control({position: 'bottomright'});

	legend.onAdd = function (map) {

		const div = L.DomUtil.create('div', 'info legend');
		const grades = [    0, 40, 80, 120, 200];
		const labels = [];
		let from, to;

		for (let i = 0; i < grades.length; i++) {
			from = grades[i]+1;
			to = grades[i + 1];

			labels.push(`<i style="background:${getColor(from + 1)}"></i> ${from}${to ? `&ndash;${to}` : '+'}`);
		}

		div.innerHTML = labels.join('<br>');
		return div;
	};

	legend.addTo(map);

</script>
{% endblock scripts %}